# Python
__pycache__/
*.pyc

# .NET Android
[Bb]in/
[Oo]bj/
*.user

# Gradle / Android Studio
.gradle/
**/build/
local.properties
*.iml
.idea/

# Varios
.DS_Store

# secretos
web/.env
.env
web/panels.json
web/monitor.flag
