<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="NFC Login"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:resizeableActivity="true">

        <!-- Trampolín: tiene el ícono y abre MainActivity en modo ventana (freeform). -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- La pantalla real. Resizable para poder vivir en ventana. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>
</manifest>
