<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="NFC Login"
        android:allowBackup="true"
        android:hardwareAccelerated="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
                Para usar la app como PANTALLA DE INICIO (kiosko) en cada perfil,
                de modo que al cambiar de usuario con la tarjeta aparezca el login:
                Ajustes (en cada perfil) > Apps > Apps predeterminadas >
                App de inicio > "NFC Login".
                El siguiente filtro la habilita como app de inicio.
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
